In [ ]:
!pip install yfinance
!pip install psycopg2

In [2]:
# Import libraries
import yfinance as yf
import pandas as pd
import numpy as np
import os.path
from datetime import date
from os import path
from sqlalchemy import create_engine

In [3]:
# db connection
engine = create_engine("postgres://superset:superset@172.19.0.2/FIRE")

In [60]:
# Definitions
today = date.today()
my_stocks = pd.read_sql_table('my_stocks', engine)
df = my_stocks[['Ticker', 'buy_date']].groupby(['Ticker'])['buy_date'].min().reset_index(name="buy_date")

In [15]:
# Download prices from min date
for index, row in df.iterrows():
    ticker = row['Ticker']
    buy_date = pd.to_datetime(row['buy_date'])
    data = yf.download(ticker, start=buy_date, end=today)
    data['Ticker'] = ticker
    historical_df = historical_df.append(data)
    historical_df['date'] = historical_df.index

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [26]:
# Cast and Write to Postgres

historical_df['date'] = pd.to_datetime(historical_df['date'])
historical_df.to_sql('ticker_price', engine, schema='public',if_exists="replace",index=False)

In [48]:
cumm_dates = pd.DataFrame(pd.period_range('2019-08-01', today))

In [49]:
cumm_dates.columns=['buy_date']

In [62]:
result = pd.merge(cumm_dates,
                 df,
                 on='buy_date', 
                 how='left')

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Ticker    12 non-null     object
 1   buy_date  12 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 320.0+ bytes

In [67]:
cumm_dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buy_date  231 non-null    period[D]
dtypes: period[D](1)
memory usage: 1.9 KB

In [35]:
type(my_stocks.buy_date)

pandas.core.series.Series

In [38]:
my_stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           16 non-null     int64
 1   Ticker       16 non-null     object
 2   buy_date     16 non-null     datetime64[ns]
 3   quantity     16 non-null     float64
 4   price        16 non-null     float64
 5   Ticker_Name  16 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 896.0+ bytes

In [39]:
cumm_dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buy_date  231 non-null    period[D]
dtypes: period[D](1)
memory usage: 1.9 KB

In [58]:
my_stocks

    Id   Ticker   buy_date      quantity     price Ticker_Name
0    1  ETHI.AX 2019-02-08     25.000000    8.9036        ETHI
1    2  VDHG.AX 2019-01-08     87.000000   55.7500        VDHG
2    3   CGB.AX 2019-03-09  13584.000000    0.0470         CGB
3    4   APX.AX 2019-09-17     29.000000   21.1100         APX
4    5  VDHG.AX 2019-09-12      8.000000   55.8000        VDHG
5    6   CBA.AX 2019-04-11     12.000000   77.0500         CBA
6    7   IOO.AX 2020-02-17      3.000000   84.0300         IOO
7    8  ETHI.AX 2020-02-17     22.000000   10.8700        ETHI
8    9  ETH-AUD 2019-03-08      0.120000  320.9900     ETH-AUD
9   10  ETH-AUD 2019-02-08      0.900000  320.6500     ETH-AUD
10  11  BAT-AUD 2019-08-13    316.480000    0.3100     BAT-AUD
11  12   CGB.AX 2020-01-22    700.000000    0.0170         CGB
12  13   NDQ.AX 2020-02-17     10.000000   24.3900         NDQ
13  14   IOZ.AX 2020-02-17      8.000000   29.0300         IOZ
14  15  XLM-AUD 2019-09-26   1084.057292    0.0910     XLM-AUD
15  16   VAS.AX 2020-01-23     11.000000   89.9300         VAS

In [53]:
cumm_dates

       buy_date
0    2019-08-01
1    2019-08-02
2    2019-08-03
3    2019-08-04
4    2019-08-05
..          ...
226  2020-03-14
227  2020-03-15
228  2020-03-16
229  2020-03-17
230  2020-03-18

[231 rows x 1 columns]